* {
	margin: 0;
	box-sizing: border-box;
}

html,
body {
	height: 100vh;
	width: 100vw;

	/* TODO: pack fant with applications */
	font-family: "Fira Code";
	font-size: 16px;
}

:root {
    /* Main color */
    --color-main-10: hsl(212 100% 10%);
    --color-main-20: hsl(212 100% 20%);
    --color-main-30: hsl(212 100% 30%);
    --color-main-40: hsl(212 100% 40%);
    --color-main-50: hsl(212 100% 50%);
    --color-main-60: hsl(212 100% 60%);
    --color-main-70: hsl(212 100% 70%);
    --color-main-80: hsl(212 100% 80%);
    --color-main-90: hsl(212 100% 90%);

    /* Accent color */
    --color-accent-10: hsl(32 100% 10%);
    --color-accent-20: hsl(32 100% 20%);
    --color-accent-30: hsl(32 100% 30%);
    --color-accent-40: hsl(32 100% 40%);
    --color-accent-50: hsl(32 100% 50%);
    --color-accent-60: hsl(32 100% 60%);
    --color-accent-70: hsl(32 100% 70%);
    --color-accent-80: hsl(32 100% 80%);
    --color-accent-90: hsl(32 100% 90%);

    /* Good color */
    --color-good-10: hsl(150 100% 10%);
    --color-good-20: hsl(150 100% 20%);
    --color-good-30: hsl(150 100% 30%);
    --color-good-40: hsl(150 100% 40%);
    --color-good-50: hsl(150 100% 50%);
    --color-good-60: hsl(150 100% 60%);
    --color-good-70: hsl(150 100% 70%);
    --color-good-80: hsl(150 100% 80%);
    --color-good-90: hsl(150 100% 90%);

    /* Bad color */
    --color-bad-10: hsl(10 100% 10%);
    --color-bad-20: hsl(10 100% 20%);
    --color-bad-30: hsl(10 100% 30%);
    --color-bad-40: hsl(10 100% 40%);
    --color-bad-50: hsl(10 100% 50%);
    --color-bad-60: hsl(10 100% 60%);
    --color-bad-70: hsl(10 100% 70%);
    --color-bad-80: hsl(10 100% 80%);
    --color-bad-90: hsl(10 100% 90%);
}

body {
    background-color: var(--color-main-10);
    color: var(--color-main-90)
}

a {
    color: var(--color-main-90);
}
